*
{
    margin: 0;
    padding: 0;
}
.contenedor_principal
{
    margin: 0 30%;
    height: 100vh; /*100%*/
}
.encabezado
{
    background-color: black;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    color: white;
}
.contenedor_principal .nav 
{
    background-color: darkgray;
    padding: 25px;
    text-align: center;
}
.contenedor_principal .nav a
{
    text-decoration: none;
    color: white;
    margin-right: 80px;
    padding-left: 20px;
}
.contenedor_principal .nav a:hover
{
    color: aqua;
}
.contenedor_principal .contenedor
{
    background-color: bisque;
    padding: 25px;
}
.contenedor_principal .contenedor h2
{
    text-align: center;
    padding: 10px;
}
.contenedor_principal .contenedor p
{
    padding: 15px;

}
.contenedor_principal .pie
{
    background-color: black;
    padding: 35px;
    text-align: center;
    color: white;
}
